__pycache__/*
X_list_*
*.h5
*.save
Tennis Machine Learning - CAS & Python.ipynb
credentials.json
.ipynb_checkpoints/*
_temp.xls
debug.log
Picks_*.json
!*/Picks_*.json
Archive/*
R1_*.json
*.DS_Store
tennis_train.csv
tennis_target.csv
tempfile.csv
Full_U2020.json
Full_F2020.json
